<table>
    <tr>
        <td>
            <strong>@Html.ActionLink("Get page", "", "")</strong>
        </td>
    </tr>
    <tr>
<td>
    <strong>@Html.ActionLink("Add Page", "", "")</strong>
</td>
    </tr>
    <tr>
<td>
    <strong>@Html.ActionLink("Edit page", "", "")</strong>
</td>
    </tr>
    <tr>
<td>
    <strong>@Html.ActionLink("Delete page", "", "")</strong>
</td>
    </tr>
    <tr>
<td>
    <strong>@Html.ActionLink("setting page", "", "")</strong>
</td>
    </tr>

</table>